.padding-0-40 { padding: 0 40px;}
.top-bar { background-color: White; border-bottom: 1px solid #e6e6e6; color: #858889; } 
.top-bar a, header .social a { color: #858889; }
header .social a:hover, header .social a:hover, .phone-mail a:hover { color: #adafb0; }
.phone-mail { padding-top: 7px;}                        
.social { padding-top: 5px; }
.social a { display: inline-block; margin: 0 0 0 14px; }                                
        
.logo img { height: 77px; min-height: 77px; max-height: 77px; width: auto; margin: 17px 0 19px; }
.main-header { border-bottom: 0; }
header.style-3 .down-header  { border-top: 0; background-color: #f6f6f6; }
.navigation ul li { text-transform: none; } 
.navigation ul li a { color: #a8a8a8; font-size: 14px;}
        
.one-page { margin-bottom: 24px; }
.one-page h1.title { font: 400 30px/1 'Open Sans'; margin: 65px 0 23px; color: #393939; }
.one-page p.description { color: #989898; font: 400 14px/20px 'Open Sans'; margin-bottom: 77px;}
        
.services { margin-bottom: 82px;}
.services .column { margin-bottom: 39px; }
.services .item { margin: 0 25px; }
.services .product_logo { margin: -4px 35px 35px 0; height: 65px; width: 65px; }
.services h3,
.services h3 a { font: 400 18px/22px 'Open Sans'; color: #3c3c3c; }
.services p { font: 400 12px/15px 'Open Sans'; color: #989898; margin-bottom: 27px;}
.services a { font: 400 12px/15px 'Open Sans'; color: #535353; }
.services a.linkBlue { color: #00549a; text-decoration: underline; }
.services a:hover { text-decoration: none; }
        
.oldmaponline { margin-bottom: 70px; }
.oldmaponline h3 { font: 400 24px/1 'Open Sans'; margin: 2px 0 17px 0;}
.oldmaponline p { border-bottom: 1px solid #ece9e0; margin-left: 260px; padding-bottom: 21px; margin-bottom: 12px; line-height: 20px; }
.oldmaponline a { float: right; margin-top: 12px; font: 400 12px/15px 'Open Sans'; color: #535353; }
.oldmaponline .logo_oldmaps { position: relative; top: -1px; left: -2px;}
 
.footer-down { padding: 15px 0; background: White; border-top: 1px solid #eae6e2; color: #989898; font-size: 11px; }
.align-right { text-align: right;}

.form-line { margin-bottom: 15px;}
.form-line label { vertical-align: top; position: relative; top: 6px; margin-right: 10px; font: normal 12px/1 "Open Sans"; color: rgb( 152, 152, 152 ); }                                
.form-line input[type=text] { width: 198px; height: 24px; line-height: 24px; border: 1px solid #d4d4d4; padding: 0 10px;}
.form-line textarea { width: 198px; height: 100px; line-height: 18px; padding: 5px 10px; border: 1px solid #d4d4d4; font: normal 13px/18px Arial; }
        
.address-box, 
.address-box a { font: normal 12px/16px "Open Sans"; color: rgb( 152, 152, 152 ); }
        
.button.small.color { font: normal 14px/1 "Open Sans"; color: rgb( 86, 86, 86 ); border: 1px solid #d4d4d4; border-radius: 4px; margin: 10px 0 0 0; padding: 5px 25px; 
                        background: #f8f8f8;
                        background: -moz-linear-gradient(top,  #f8f8f8 0%, #ededed 100%);
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ededed));
                        background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ededed 100%);
                        background: -o-linear-gradient(top,  #f8f8f8 0%,#ededed 100%);
                        background: -ms-linear-gradient(top,  #f8f8f8 0%,#ededed 100%);
                        background: linear-gradient(to bottom,  #f8f8f8 0%,#ededed 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ededed',GradientType=0 ); }
                              
.button.small.color:hover { background: -moz-linear-gradient(top,  #ededed 0%, #f8f8f8 100%);
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#f8f8f8));
                            background: -webkit-linear-gradient(top,  #ededed 0%,#f8f8f8 100%);
                            background: -o-linear-gradient(top,  #ededed 0%,#f8f8f8 100%);
                            background: -ms-linear-gradient(top,  #ededed 0%,#f8f8f8 100%);
                            background: linear-gradient(to bottom,  #ededed 0%,#f8f8f8 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f8f8f8',GradientType=0 ); }                              
                              
.top-6 { margin-top: 70px; }
.bottom-6 { margin-bottom: 70px; }

.alert { font: normal 12px/18px 'Open Sans'; margin-top: 30px; margin-bottom: -30px; padding-left: 40px; position: relative; }
.alert .icon-warning-sign,
.alert .icon-check, 
.alert .icon-info-sign { position: absolute; top: 13px; left: 13px; }